
.asteroidbig, asteroidb329big {
    color: blue;
}

.asteroidb326 {
    border: 1px solid green;
    font-weight: bold;
    color: yellowgreen;
}
#b325 {
    border: 1px solid green;
    font-weight: bold;
    color: yellowgreen;
}

.asteroidbig {
    background-color: yellow;
}

.asteroidb329big {
    font-weight: bold;
}