
.asteroidbig {
    color: blue;
    background-color: yellow;
    font-weight: bold;
}

.asteroidb326 {
    border: 1px solid green;
    font-weight: bold;
    color: black;
}
#b325 {
    border: 1px solid green;
    font-weight: bold;
    color: black;
}

.asteroidb329big {
    font-weight: bold;
    color:blue;
}